<html>
<body>
<div>
<img src="betaaggrohomeicon.png" alt="OOPS" style="width:600px;height:120px;">
</div>
<h1><span style="color: #0000ff;"><strong>BetaAggro</strong></span></h1>
  <strong>Username or Password Incorrect</strong>
<div><form action="http://localhost:5000/homeuser" method="POST">Username:<input maxlength="60" name="username" size="10" type="text" /><br> Password:<input maxlength="60" name="password" size="10" type="text" /><input type="submit" value="login" /></form>
  </div>
  </body>
  </html>
