<html>
<head></head>
<body>
<link rel="stylesheet" href="style.css" />
<p><a href="http://localhost:5000homeuser" target="_blank"> <img style="width: 600px; height: 120px;" alt="OOPS" /></a></p>
<div>
<h1><span style="color: #0000ff;"><strong>BetaAggro</strong></span></h1>
<div><br /><form id="ratingsForm" action="http://localhost:5000/homeuser" method="POST"><input maxlength="120" name="search" size="21" type="text" /><input type="submit" value="search" /> Username:<input maxlength="60" name="username" size="10" type="text" /> Password:<input maxlength="60" name="password" size="10" type="text" /><input type="submit" value="login" /></form></div>
<a href="http://localhost:5000/createnewuser" target="_self">Create New Account</a></form></div>
<div><center><span style="font-size: x-large;">{{ businessName }}</span></center><br />
  <p><a href={{businessPicture}} target="_blank"> <img style="width: 600px; height: 120px;" alt="OOPS" /></a>
    <br>
<p>{{location}}</p>
<p>{{cost}}</p>
<p>{{phone number}}</p>
<p>{{hours}}</p>
<p>{{rating}}</p>
  {% for review in businessReviews %}
  <div><p>{{review}}</div>
  {% endfor %}
</div>
 </body>
 </html>