<!DOCTYPE html>
<html>
<style>
.square-box{
    position: relative;
    width: 50%;
    overflow: hidden;
    background: black;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: red;
}
.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: red
}
label{
    display:inline-block;
    width:100px;
	padding-top:100px;
}
.my_text{
position: absolute;
left: 175px;
top: 250px;
font-size: 20px;
}
</style>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">

<!-- Navbar -->
<div class="w3-top">
 <ul class="w3-navbar w3-theme-d2 w3-left-align">
  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
    <a class="w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  </li>
  <li><a href="http://localhost:5000/home" class="w3-white"><i class="fa fa-home w3-margin-right"></i>Beta Aggro Home</a></li>
  <li class="w3-hide-small"><a href="http://localhost:5000/aboutus" class="w3-hover-white">About Us</a></li>
  <li class="w3-hide-small"><a href="http://localhost:5000/contactus" class="w3-hover-white">Contact Us</a></li>
  <li class="w3-hide-small"><a href="http://localhost:5000/porpoise" class="w3-hover-white">Statement of Porpoise</a></li>
  
  <li class="w3-hide-small w3-dropdown-hover">
    <a href="javascript:void(0);" title="Notifications">Categories <i class="fa fa-caret-down"></i></a>     
    <div class="w3-dropdown-content w3-white w3-card-4">
      <a href="http://localhost:5000/nightlife">Nightlife</a>
      <a href="http://localhost:5000/entertainment">Entertainment</a>
      <a href="http://localhost:5000/dining">Dining</a>
      <a href="http://localhost:5000/aboutus">Freddy's Ice Cream Shop</a>
      <a href="http://localhost:5000/aboutus">Thien's Bungalo</a>
      <a href="http://localhost:5000/aboutus">Ken's Taco Shack</a>
      <a href="http://localhost:5000/aboutus">Christian's Party Store</a>
      <a href="http://localhost:5000/aboutus">Zach's Crazy Churos</a>
    </div>
  </li>
  
  <li class="w3-hide-small w3-right"><a href="http://localhost:5000/searchuser" class="w3-hover-teal" title="Search"><i class="fa fa-search"></i></a></li>
  {% if current_user.is_authenticated %}
		<li class="w3-hide-small w3-right"><a href="http://localhost:5000/logout" class="w3-hover-white">Logout</a></li>
   {% else %}
		<li class="w3-hide-small w3-right"><a href="http://localhost:5000/login" class="w3-hover-white">Login</a></li>
   {% endif %}
  <li class="w3-hide-small w3-right">
	<a href="javascript:void(0);" class="w3-hover-white">
		{% if current_user.is_authenticated %}
			Welcome, {{ current_user.firstname }}!
		{% else %}
			Welcome, Guest.
		{% endif %}
	</a>
  </li>
 </ul>

  
</div>
<div align="center"><br><br><br>
<div style="color:#FFFFFF">
		<h1>Entertainment</h1>
	</div>
<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
  <img src='http://press.cmoa.org/wp-content/uploads/sites/13/2014/01/21803-Carnegie-Music-Hall-2012.jpg' style='width:100%;height:120%' alt='[]' />
</div>

	<div class='square-box'>
    <div class='square-content'><div><span><table width=100% height=100%><tr><td width=50%>
	<img src = 'https://s3-media1.fl.yelpcdn.com/bphoto/NqMBBZgvCIbQDWaQr2NVow/o.jpg' style='width:35%; height:35%'/><br>
	<img src = 'https://s3-media2.fl.yelpcdn.com/bphoto/E8XZJCG7h4yCndNzqVdJJg/o.jpg' style='width:35%; height:35%'/><br>
	<img src = 'https://s3-media1.fl.yelpcdn.com/bphoto/7pgSoEdw3icoUNl3APRr3Q/o.jpg' style='width:35%; height:35%'/><br>
	<img src = 'https://s3-media2.fl.yelpcdn.com/bphoto/nK2rL0rPN1WwCi9iPJdxSw/o.jpg' style='width:35%; height:10%'/><br>
	<img src = 'https://s3-media3.fl.yelpcdn.com/bphoto/LQoVjGeetjrGdnAREGwhpw/o.jpg' style='width:35%; height:35%'/><br>
	
	
	</td>
	<td width=50%>
	
	<ul>
	<div class="my_text">
		<li><h3>The best places for entertainment around the Bay!</h3><br><br>
		<li><a href="https://www.yelp.com/biz/red-hots-burlesque-san-francisco?osq=entertainment"> Red Hots Burlesque </a></li>
		<li><a href="https://www.yelp.com/biz/magowans-infinite-mirror-maze-san-francisco?osq=entertainment"> Magowan’s Infinite Mirror Maze </a></li>
		<li><a href="https://www.yelp.com/biz/marrakech-magic-theater-san-francisco-3?osq=entertainment"> Marrakech Magic Theater </a></li>
		<li><a href="https://www.yelp.com/biz/cheaper-than-therapy-san-francisco?osq=entertainment"> Cheaper Than Therapyn </a></li>
		<li><a href="https://www.yelp.com/biz/pianofight-san-francisco?osq=entertainment"> PianoFight </a></li>
		<li><a href="https://www.yelp.com/biz/exploratorium-san-francisco-2?osq=entertainment"> Exploratorium </a></li>
		<li><a href="https://www.yelp.com/biz/the-walt-disney-family-museum-san-francisco?osq=entertainment"> The Walt Disney Family Museum </a></li>
		<li><a href="https://www.yelp.com/biz/the-san-francisco-dungeon-san-francisco?osq=entertainment"> The San Francisco Dungeon </a></li>
		<li><a href="https://www.yelp.com/biz/7d-experience-san-francisco?osq=entertainment"> 7D Experience </a></li>
		<li><a href="https://www.yelp.com/biz/scary-cow-productions-san-francisco-3?osq=entertainment">  Scary Cow Productions </a></li>
		</div>
	</ul>
	
</div>
	</td></tr></table></span></div></div>
	
	</div>
	
</div>




</html>