<!DOCTYPE html>
<html>
<style>
.square-box{
    position: relative;
    width: 50%;
    overflow: hidden;
    background: black;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: text-top;
    color: white
}
label{
    display:inline-block;
    width:100px;
	padding-top:0px;
}
.my_text{
position: absolute;
left: 175px;
top: 300px;
font-size: 20px;
}
</style>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">

<!-- Navbar -->
<div class="w3-top">
 <ul class="w3-navbar w3-theme-d2 w3-left-align">
  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
    <a class="w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  </li>
  <li><a href="http://localhost:5000/home" class="w3-white"><i class="fa fa-home w3-margin-right"></i>Beta Aggro Home</a></li>
  <li class="w3-hide-small"><a href="http://localhost:5000/aboutus" class="w3-hover-white">About Us</a></li>
  <li class="w3-hide-small"><a href="http://localhost:5000/contactus" class="w3-hover-white">Contact Us</a></li>
  <li class="w3-hide-small"><a href="http://localhost:5000/porpoise" class="w3-hover-white">Statement of Porpoise</a></li>
  
  <li class="w3-hide-small w3-dropdown-hover">
    <a href="javascript:void(0);" title="Notifications">Categories <i class="fa fa-caret-down"></i></a>     
    <div class="w3-dropdown-content w3-white w3-card-4">
      <a href="http://localhost:5000/nightlife">Nightlife</a>
      <a href="http://localhost:5000/entertainment">Entertainment</a>
      <a href="http://localhost:5000/dining">Dining</a>
      <a href="http://localhost:5000/aboutus">Freddy's Ice Cream Shop</a>
      <a href="http://localhost:5000/aboutus">Thien's Bungalo</a>
      <a href="http://localhost:5000/aboutus">Ken's Taco Shack</a>
      <a href="http://localhost:5000/aboutus">Christian's Party Store</a>
      <a href="http://localhost:5000/aboutus">Zach's Crazy Churos</a>
    </div>
  </li>
  
  <li class="w3-hide-small w3-right"><a href="http://localhost:5000/searchuser" class="w3-hover-teal" title="Search"><i class="fa fa-search"></i></a></li>
  {% if current_user.is_authenticated %}
		<li class="w3-hide-small w3-right"><a href="http://localhost:5000/logout" class="w3-hover-white">Logout</a></li>
   {% else %}
		<li class="w3-hide-small w3-right"><a href="http://localhost:5000/login" class="w3-hover-white">Login</a></li>
   {% endif %}
  <li class="w3-hide-small w3-right">
	<a href="javascript:void(0);" class="w3-hover-white">
		{% if current_user.is_authenticated %}
			Welcome, {{ current_user.firstname }}!
		{% else %}
			Welcome, Guest.
		{% endif %}
	</a>
  </li>
 </ul>

  
</div>

<div align="center"><br><br><br>

<div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
	
  <img src='http://www.officialpsds.com/images/stocks/Night-Club-stock2498.jpg' style='width:100%;height:120%' alt='[]' />
</div>

	<div class='square-box'>
    <div class='square-content'><div><span><table width=100% height=100%><tr><td width=50%>
	<img src = 'https://s3-media3.fl.yelpcdn.com/bphoto/P0HWZCnO_U9S1i0hp930Mw/o.jpg' style='width:35%; height:35%'/><br>
	<img src = 'https://s3-media4.fl.yelpcdn.com/bphoto/DkItwMdbde-5u9_iyrk2XA/o.jpg' style='width:35%; height:35%'/><br>
	<img src = 'https://s3-media2.fl.yelpcdn.com/bphoto/RlDNsH3m_rC0eWFWXkK3Fw/o.jpg' style='width:35%; height:35%'/><br>
	<img src = 'https://s3-media4.fl.yelpcdn.com/bphoto/SzVTFCnrUXcPIEDZzUH33g/o.jpg' style='width:35%; height:10%'/><br>
	<img src = 'https://s3-media1.fl.yelpcdn.com/bphoto/dqhq6mU3hza7FOrva6n6Gg/o.jpg' style='width:35%; height:35%'/><br>
	
	
	</td>
	<td width=50%>
	
	<ul>
	<div class="my_text">
		<li><h3>The hottest spots for the S.F. Nightlife experience.</h3><br><br>
		<li><a href="https://www.yelp.com/biz/frances-san-francisco?osq=Restaurants"> NightLife - Museum/Bars </a></li>
		<li><a href="https://www.yelp.com/biz/liholiho-yacht-club-san-francisco-2?osq=Restaurants"> Exploratorium After Dark - Museum/Bars</a></li>
		<li><a href="https://www.yelp.com/biz/dip-san-francisco-3?osq=Restaurants"> F8 Nightclub and Bar - Dance Club/Lounge </a></li>
		<li><a href="https://www.yelp.com/biz/nopa-san-francisco?osq=Restaurants"> The Emperor’s Drawing Room At Monarch - Bar/Event Space </a></li>
		<li><a href="https://www.yelp.com/biz/lol%C3%B3-san-francisco-4?osq=Restaurants"> Hawthorn - Cocktail Bar</a></li>
		<li><a href="https://www.yelp.com/biz/state-bird-provisions-san-francisco?osq=Restaurants">  Monarch - Dance Club </a></li>
		<li><a href="https://www.yelp.com/biz/tacorea-san-francisco?osq=Restaurants"> Love + Propaganda - Dance Club </a></li>
		<li><a href="https://www.yelp.com/biz/surisan-san-francisco?osq=Restaurants">  Last Nite | 2000’s Indie Dance Party - Bar/Dance Club </a></li>
		<li><a href="https://www.yelp.com/biz/souvla-san-francisco-3?osq=Restaurants"> Lush Lounge - Lounge </a></li>
		<li><a href="https://www.yelp.com/biz/ozaoza-san-francisco?osq=Restaurants">  Kava Lounge SF - Lounge </a></li>
		</div>
	</ul>
	
	</td></tr></table></span></div></div>
</div>
	
	</div>
	




</html>