<!DOCTYPE html>
<html>
<style>
search{
padding-right: 10px;
width: 150%;
}
dd{
	display:list-item;
	list-style-type: disc;
}
form{
	text-align: center;
}
dl{
	padding-top: 80px;
	text-align:center;
}
table {
	margin-left:auto;
	margin-right:auto;
	border: 1px solid black;
	text-align: center;
}
td {
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid black;
}
tr {
	text-align: center;
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: orange;
    background-image: url('hankface.jpg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    
}
input[type=text]:focus {
    width: 100%;
}
</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css" />
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body id="myPage">


<!-- Navbar -->
<div class="w3-top">
 <ul class="w3-navbar w3-theme-d2 w3-left-align">
  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
    <a class="w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  </li>
  <li><a href="http://localhost:5000/home" class="w3-white"><i class="fa fa-home w3-margin-right"></i>Beta Aggro Home</a></li>
  <li class="w3-hide-small"><a href="http://localhost:5000/aboutus" class="w3-hover-white">About Us</a></li>
  <li class="w3-hide-small"><a href="http://localhost:5000/contactus" class="w3-hover-white">Contact Us</a></li>
  <li class="w3-hide-small"><a href="http://localhost:5000/porpoise" class="w3-hover-white">Statement of Porpoise</a></li>
  
  <li class="w3-hide-small w3-dropdown-hover">
    <a href="javascript:void(0);" title="Notifications">Categories <i class="fa fa-caret-down"></i></a>     
    <div class="w3-dropdown-content w3-white w3-card-4">
      <a href="http://localhost:5000/nightlife">Nightlife</a>
      <a href="http://localhost:5000/entertainment">Entertainment</a>
      <a href="http://localhost:5000/dining">Dining</a>
      <a href="http://localhost:5000/aboutus">Freddy's Ice Cream Shop</a>
      <a href="http://localhost:5000/aboutus">Thien's Bungalo</a>
      <a href="http://localhost:5000/aboutus">Ken's Taco Shack</a>
      <a href="http://localhost:5000/aboutus">Christian's Party Store</a>
      <a href="http://localhost:5000/aboutus">Zach's Crazy Churos</a>
    </div>
  </li>
  
  <li class="w3-hide-small w3-right"><a href="http://localhost:5000/searchuser" class="w3-hover-teal" title="Search"><i class="fa fa-search"></i></a></li>
  {% if current_user.is_authenticated %}
		<li class="w3-hide-small w3-right"><a href="http://localhost:5000/logout" class="w3-hover-white">Logout</a></li>
   {% else %}
		<li class="w3-hide-small w3-right"><a href="http://localhost:5000/login" class="w3-hover-white">Login</a></li>
   {% endif %}
  <li class="w3-hide-small w3-right">
	<a href="javascript:void(0);" class="w3-hover-white">
		{% if current_user.is_authenticated %}
			Welcome, {{ current_user.firstname }}!
		{% else %}
			Welcome, Guest.
		{% endif %}
	</a>
  </li>
 </ul>

  
</div>



<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="/resources/balogo.png" alt="OOPS" style="width:100%;min-height:350px;max-height:600px;">
  <div class="w3-container w3-display-bottomright w3-margin-bottom">  
    <button onclick="document.getElementById('mission').style.display='block'" class="w3-btn w3-xlarge w3-theme w3-hover-white" title="Source Code">BetaAggro Source Code</button>
  </div>
</div>

<!-- Modal -->
<div id="mission" class="w3-modal">
  <div class="w3-modal-content w3-card-8 w3-animate-top">
    <header class="w3-container w3-orange"> 
      <span onclick="document.getElementById('mission').style.display='none'" class="w3-closebtn"><i class="fa fa-remove"></i></span>
      <h4>Click below to see the source code for this website.</h4>
      
    </header>
    <div class="w3-container">
      <p><a class="w3-btn" href="https://www.github.com">Our Source Code</a></p>
    </div>
    
  </div>
</div>

<form id="ratingsForm" action="http://localhost:5000/searchuser" method="POST">
  <input type="text" maxlength="120" name="searchline" placeholder="Type here for tacos">
  <input type="text" maxlength="120" name="zipcode" placeholder="Enter zipcode">
  <input type="submit" class="w3-button w3-block w3-teal" value="search" />
</form>


  
  
	  
  




<div class="w3-container">
	{% if found %}
    	
		{% for item in response %}
			<div class="BusinessContainer">
				<div class="BusinessImage">
					<div class="w3-container">
  						<div class="panel-group">
    						<div class="panel panel-default">
      							<div class="panel-heading">
        							<h4 class="panel-title">
          							<a data-toggle="collapse" href="#{{item["name"]}}" ><img src={{ item["imageURL"] }} style="float: left"  alt="OOPS" >
          							<p> {{ item["name"] }} </p>
									<img src={{ item["ratingImage"] }} style="float: left" />
									<p> {{ item["reviewCount"] }} Reviews </p>
									<p> Google: {{ item["google"] }} </p>
									<p> {{ item["categories"][0]["category"] }} </p>


									
          							</a>
        							</h4>
      								</div>
      								<div id="{{item["name"]}}" class="panel-collapse collapse">
        								<div class="panel-body" ><p>{{ item["location"] }}</p>
										
        									<p>{{ item["isClosed"] }}</p>
            								<p>{{ item["phoneNumber"] }}</p>
											<div class="stars">
		<input type="radio" name="star" class="star-1" id="star-1" />
		<label class="star-1" for="star-1">1</label>
		<input type="radio" name="star" class="star-2" id="star-2" />
		<label class="star-2" for="star-2">2</label>
		<input type="radio" name="star" class="star-3" id="star-3" />
		<label class="star-3" for="star-3">3</label>
		<input type="radio" name="star" class="star-4" id="star-4" />
		<label class="star-4" for="star-4">4</label>
		<input type="radio" name="star" class="star-5" id="star-5" />
		<label class="star-5" for="star-5">5</label>
		<span></span>
	</div>
        								</div>
        
        
      								</div>
    							</div>
  							</div>
						</div>
				</div>
			</div>
			<hr>
					
				
		{% endfor %}
	{% else %}
		<h1 style="text-align: center;">BUSINESS NOT FOUND</h1>
	{% endif %}
</div>
									
<div id="map" style="width:100%;height:500px"></div>

<script>
function myMap() {
{% set i = length %}
{% for item in response %}
	{% set i = i - 1 %}
	var myCenter{{i}} = new google.maps.LatLng({{item["location"][0]["latitude"]}},{{item["location"][0]["longitude"]}});
{% endfor %}
	/*	
	  var myCenter1 = new google.maps.LatLng({{response[1]["location"][0]["latitude"]}},{{response[1]["location"][0]["longitude"]}});
	  var myCenter2 = new google.maps.LatLng({{response[2]["location"][0]["latitude"]}},{{response[2]["location"][0]["longitude"]}});
	  var myCenter3 = new google.maps.LatLng({{response[3]["location"][0]["latitude"]}},{{response[3]["location"][0]["longitude"]}});
	  var myCenter4 = new google.maps.LatLng({{response[4]["location"][0]["latitude"]}},{{response[4]["location"][0]["longitude"]}});
	*/
	var mapCanvas = document.getElementById("map");
	var mapOptions = {center: myCenter{{length-1}}, zoom: 14};
	var map = new google.maps.Map(mapCanvas, mapOptions);
	
{% set i = length %}
{% for item in response %}
	{% set i = i - 1 %}	
	var marker{{i}} = new google.maps.Marker({position:myCenter{{i}}});
	marker{{i}}.setMap(map)
{% endfor %}
	/*
	var marker1 = new google.maps.Marker({position:myCenter1});
	var marker2 = new google.maps.Marker({position:myCenter2});
	var marker3 = new google.maps.Marker({position:myCenter3});
	var marker4 = new google.maps.Marker({position:myCenter4});
	*/
	
	/*
	marker.setMap(map);
	marker1.setMap(map);
	marker2.setMap(map);
	marker3.setMap(map);
	marker4.setMap(map);
	*/
  /*
  var myCenter = new google.maps.LatLng({{response[0]["location"][0]["latitude"]}},{{response[0]["location"][0]["longitude"]}});
  var myCenter1 = new google.maps.LatLng({{response[1]["location"][0]["latitude"]}},{{response[1]["location"][0]["longitude"]}});
  var myCenter2 = new google.maps.LatLng({{response[2]["location"][0]["latitude"]}},{{response[2]["location"][0]["longitude"]}});
  var myCenter3 = new google.maps.LatLng({{response[3]["location"][0]["latitude"]}},{{response[3]["location"][0]["longitude"]}});
  var myCenter4 = new google.maps.LatLng({{response[4]["location"][0]["latitude"]}},{{response[4]["location"][0]["longitude"]}});
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter1, zoom: 14};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  var marker1 = new google.maps.Marker({position:myCenter1});
  var marker2 = new google.maps.Marker({position:myCenter2});
  var marker3 = new google.maps.Marker({position:myCenter3});
  var marker4 = new google.maps.Marker({position:myCenter4});
  marker.setMap(map);
  marker1.setMap(map);
  marker2.setMap(map);
  marker3.setMap(map);
  marker4.setMap(map);
  */
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzzuPt6Tql59-LIahJioMsDo9tLB5SgaY&callback=myMap"></script>

</body>
</html>
