<!DOCTYPE html>
<html>
<style>
search{
padding-right: 10px;
width: 150%;
}
dd{
	display:list-item;
	list-style-type: disc;
}
form{
	text-align: center;
}
dl{
	padding-top: 80px;
	text-align:center;
}
table {
	margin-left:auto;
	margin-right:auto;
	border: 1px solid black;
	text-align: center;
}
td {
	text-align: center;
	border-bottom: 1px solid black;
}

tr {
	text-align: center;
}
</style>
<form action= "search.php">

	
	<search>
	<input type="text" placeholder="Search" />
	</search>
	<input type="text" placeholder="City or Zipcode" />
	<input type="submit" value="Search" />


</form>

<div>
	{% if found %}
		{% for item in response %}
			<table>
				<tr>
					{{ item["name"] }}
				</tr>
				{% for k in item.keys() %}
					<tr>
						<td>{{ k }} </td>
						<td> {{ item[k] }} </td>
					</tr>
				{% endfor %}
			</table>
			<br>
		{% endfor %}
	{% else %}
		<h1 style="text-align: center;">BUSINESS NOT FOUND</h1>
	{% endif %}
</div>


</html>