<!DOCTYPE html>
<html>
<style>
search{
padding-right: 10px;
width: 150%;
}
dd{
	display:list-item;
	list-style-type: disc;
}
form{
	text-align: center;
}
dl{
	padding-top: 80px;
	text-align:center;
}
</style>
<form action= "search.php">

	
	<search>
	<input type="text" placeholder="Search" />
	</search>
	<input type="text" placeholder="City or Zipcode" />
	<input type="submit" value="Search" />


</form>

<dl>
	<dt>Place Holder 1</dt>
	<dd> brief description </dd>
	
	<dt>Place Holder 2</dt>
	<dd> brief description </dd>
	
	<dt>Place Holder 3</dt>
	<dd> brief description </dd>
	
	<dt>Place Holder 4</dt>
	<dd> brief description </dd>


</dl>


</html>